  operations-parent>content {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
  }

  operations-parent>:last-child {
    overflow-y: auto;
  }
  .content{
   overflow-y: hidden;
   overflow-x: hidden; 
   display: flex;
   height: 100%;
   position: relative;
   flex-direction: row column;
   -webkit-box-direction: normal;
  }

  .header{
    position: relative;
    z-index: 10;
    -webkit-box-direction: normal;
  }

.operations-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

#sidenav  {
    overflow: auto;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
  }

.img-responsive {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
