
<div class="operation-form">
  <div class="main-title">
       <div class="choose-currency-title" >
        <p>Choose your couple of currencies</p>
      </div>
     <div class="currency-name">
        <p>Local Currency</p>
        <div class="currencies">
          <div class="currency-btn">
            <button class="currency-picker-button">{{currencyA.symbol}}</button> 
          </div>
        
          <div>
              <div class = "currency-component"*ngFor="let currency of currencies" >
                <currency-selector [currency]="currency"></currency-selector>
              </div> 
          </div>
        </div> 
      </div>
      <div class="currency-name">
        <p>Foreign Currency</p>  
        <div class="currencies">
          <div class="currency-btn"> 
           <button class="currency-picker-button">{{currencyB.symbol}}</button> 
        </div>
          <div>
            <div class = "currency-component"*ngFor="let currency of currencies" >
              <currency-selector [currency]="currency"></currency-selector>
            </div> 
          </div>
        </div> 
      </div>
  </div>
</div>


<!-- <div class="currency-component"*ngFor="let currency of currencies" >
  <currency-selector [currency]="currency"></currency-selector>
</div> -->

<!-- <div class="currency-component"*ngFor="let currency of currencies" >
  <currency-selector [currency]="currency"></currency-selector>
</div>   -->