@import url('//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css');

 .main-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.currencies{
    display: flex;
    flex-direction: row;
}
#row-title-spacing{
    margin-top: 100px;
}
.row-title{
    background-color: #222B3A;
    color: white;
    border: 1.5px solid #F5B78D;
    border-radius: 8px;
    padding: 8px;
    font-size: 0.875em;
    width: 30%;
    text-align: center;
    outline: 0;
    height: 50px;
    font-size: 11px;
    padding-top: 14px;
    font-weight: lighter;
}

.currency-name{
    
    background-color: #222B3A;
    color: #EC7A40;
    border: 1.5px;
    border-radius: 5px; 
    font-size: 1em;
    font-style: italic;
    width: 30%;
    font-weight: bolder;
    text-align: center;
    padding:8px;
    outline: 0;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1.5px solid #0a66ad;
    
}

  .currency-picker-button{
    border-radius: 40px;
    height: 62px;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 60px;
    background-color: #222B3A;
    border: 1.5px solid #222B3A;
    color: #EC7A40;
    outline: 0;
    float: left;
    border: 1.5px solid #0a66ad;
    
  }

  .currency-directive{
      width: 66.666666666%;
      padding-left: 0px;
      flex-direction: column;
      flex-flow: flex-direction;
      
      
  }

  .currency-btn{
    width: 33.33333%;
    
  }

  .main-form-row{
    background-color: royalblue;
    display: flex;
    flex-direction: row; 
  }

  
  #column-1{
    width: 40%;
}
.void-column{
width: 0%;
}
#label-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 35%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto
}
#column-2{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
}

#column-3{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.feature-label{
    background-color: #FBE5D6;
    color: #4C5B6C;
    float: right;
    border: 1.5px solid #F5B78D;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    width: 135px;
    height: 30px;
    margin-top: 40px;
    text-align: center;
    font-style: italic;
    outline: 0;
}

.currency-picker-button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }

 .ngx-datepicker-container:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
 }


.input-btn-generic{
    border-radius: 40px;
    height: 60px;
    align-content: center;
    width:  60px;
    background-color: #FBE5D6;;
    border: 1.5px solid #F5B78D;
    margin-left: 40%;
    color: #4C5B6C;
    outline: 0;
    padding: 3px;
    font-style: italic;
    margin-top: 7px;
    text-align:center;
    align-self:middle;
}

.input-btn-generic:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.input-btn-maturity{

    border-radius: 40px;
    height: 60px;
    align-content: center;
    width:  60px;
    background-color: #FBE5D6;;
    border: 1.5px solid #F5B78D;
    color: #4C5B6C;
    outline: 0;
    padding: 3px;
    font-style: italic;
    margin-left: -3%;
    text-align:center;
    align-self:middle;

}
.input-btn-maturity:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    
}
.first-label{
    margin-top:20px;
}
#maturity-time{
    display: flex;
    flex-direction: column;
    margin-top:25px;
    margin-left: 25%;
}
#maturity-time-row-1{
    display: flex;
    flex-direction: row;
}
#maturity-time-row-2{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    margin-left:30px;
}

.input-btn-click {
    background: #222b3a !important;
    color:  #EC7A40 !important;
    text-align:center;
    align-self:middle;
}

.void-btn{
    border-radius: 40px;
    height: 60px;
    align-content: center;
    width:  60px;
    background-color: #FBE5D6;;
    border: 1.5px solid #F5B78D;
    margin-left: 40%;
    color: #4C5B6C;
    outline: 0;
    padding: 3px;
    font-style: italic;
    margin-top: 7px;
    visibility: hidden;
    
   
}

.bg-text-view {
    background-color: #fae5d7; 
    padding: 4px;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    height: auto;
    border-radius: 4px;
    border: 1px solid #db692b;
    text-align: center;
  }

.vert-align {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.compute-btn{
    margin-top: 70px !important;
    width: 110%;
    border-radius: 11px;

}

.v-center {
    position: relative;
    transform: translateY(50%);
  }

.interest-rate-label{
    margin-left: 72%;}


    @media only screen and (max-width: 700px) {
        
            #label-column{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 35%;
                margin-left: 0px;
            }
            .currency-name{
                font-size: 10px;
                padding-left: 0;
            }
            .row-title{
                font-size: 9px;
            }
        }

.datepicker-maturityTime{
    z-index: 5 !important;
    margin-bottom: -245px !important;
    margin-left: 0% !important;
}


.ongera-button {
    background-color: #fae5d7; 
    padding: 4px;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    height: auto;
    border-radius: 4px;
    text-align: center;
  }

  .z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }

  .p {
    text-align: center;
  }