<div class="operation-form">
  <form name="Form">
    <div class="main-row">
      <div class="row-title">
        <p>Choose your couple of currencies</p>
      </div>
      <div class="currency-name">
        <p>Local Currency</p>
        <div class="currencies">
          <div class="currency-btn">
            <button (click)="chooseCurrencyA()" class="currency-picker-button">{{currencyA.symbol}}</button>
          </div>
          <div *ngIf="displayCurrencySelectorA">
            <div class="currency-component" *ngFor="let currency of currencies">
              <currency-selector (click)="choosenCurrencyA(currency)" [currency]="currency"></currency-selector>
            </div>
          </div>
        </div>
      </div>
      <div class="currency-name">
        <p>Foreign Currency</p>
        <div class="currencies">
          <div class="currency-btn">
            <button (click)="chooseCurrencyB()" class="currency-picker-button">{{currencyB.symbol}}</button>
          </div>
          <div *ngIf="displayCurrencySelectorB">
            <div class="currency-component" *ngFor="let currency of currencies">
              <currency-selector (click)="choosenCurrencyB(currency)" [currency]="currency"></currency-selector>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-row">
      <div class="row-title" id="row-title-spacing">
        <p>Characterize each of your currencies</p>
      </div>
    </div>

    <div class="row ">
      <div class="col-xs-3 ">
        <p class="feature-label first-label">Pricing Date</p>
      </div>

      <div class="col-xs-2">
        <input [(ngModel)]="pricingDays" (blur)="onPricingDateBulbeChange()" [ngClass]="{'input-btn-click': customInputBtn.pricingDate}"
          (click)="inputBtnclicked('pricingDate')" type="" name="pricingDateBulble" class="input-btn-generic" />
      </div>

      <div class="col-xs-2 col-xs-offset-1">
        <div class="datepicker-container">
          <mat-form-field>
            <input matInput [(ngModel)]="pricingdate" [max]="minDate" (dateChange)="onPricingDateChange($event)" name="pricingDateInput"
              [matDatepicker]="pricingDatePicker" placeholder="Choose date">
            <mat-datepicker-toggle matSuffix [for]="pricingDatePicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #pricingDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <p class="feature-label first-label">Forex rate</p>
      </div>

      <div class="col-xs-8">
        <input [ngModel]="forexRate | number: '1.2-2'" (ngModelChange)="updateAmount($event)" [ngClass]="{'input-btn-click': customInputBtn.forexRate}"
          (click)="inputBtnclicked('forexRate')" type="" name="forexRate" class="input-btn-generic" />
      </div>
    </div>

    <div class="row vert-align">
      <div class="col-xs-3 center-vert">
        <p class="feature-label v-center">Maturity time</p>
      </div>

      <div class="col-xs-4">
        <div id="maturity-time">
          <div id="maturity-time-row-1">
            <input [ngClass]="{'input-btn-click': customInputBtn.maturityTime.thirty }" (click)="onMaturityTimeSelected($event)" type=""
              name="" class="input-btn-maturity" value="30" />
            <input [ngClass]="{'input-btn-click': customInputBtn.maturityTime.sixty }" (click)="onMaturityTimeSelected($event)" type=""
              name="" class="input-btn-maturity" value="60" />
            <input [ngClass]="{'input-btn-click': customInputBtn.maturityTime.oneHundredEighty }" (click)="onMaturityTimeSelected($event)"
              type="" name="" class="input-btn-maturity" value="180" />
          </div>
          <div id="maturity-time-row-2">
            <input [ngClass]="{'input-btn-click': customInputBtn.maturityTime.ninety }" (click)="onMaturityTimeSelected($event)" type=""
              name="" class="input-btn-maturity" value="90" />
            <input [ngClass]="{'input-btn-click': customInputBtn.maturityTime.threeHundredSixty }" (click)="onMaturityTimeSelected($event)"
              type="" name="" class="input-btn-maturity" value="360" />
            <input [ngClass]="{'input-btn-click': customInputBtn.maturityTime.typeBtn }" (click)="onMaturityTimeSelected($event)" type=""
              name="" class="input-btn-maturity" value="type" />

          </div>
        </div>
      </div>

      <div class="col-xs-2 col-xs-offset-1">
        <div class="datepicker-container v-center">
          <mat-form-field>
            <input matInput [(ngModel)]="maturityDate" [min]="minDate" (dateChange)="onMaturityDateChange($event)" name="maturityDateInput"
              [matDatepicker]="maturityDatePicker" placeholder="Maturity Date">
            <mat-datepicker-toggle matSuffix [for]="maturityDatePicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #maturityDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="row vert-align">
      <div class="col-xs-3 center-vert">
        <p class="feature-label first-label">Interest rate</p>
      </div>

      <div class="col-xs-2">
        <input name="localInterestRate" [ngModel]="localInterestRate | number: '1.2-2'" (ngModelChange)="updateLocalInterestRate($event)"
          [ngClass]="{'input-btn-click': customInputBtn.localInterestRate}" (click)="inputBtnclicked('interestRate')" type=""
          name="localInterestRate" class="input-btn-generic" />
      </div>

      <div class="col-xs-2 col-xs-offset-4">
        <input [ngModel]="foreignInterestRate | number: '1.2-2'" (ngModelChange)="updateLocalInterestRate($event)" [ngClass]="{'input-btn-click': customInputBtn.foreignInterestRate}"
          (click)="inputBtnclicked('interestRate')" type="" name="foreignInterestRate" class="input-btn-generic" />

      </div>
    </div>

    <div class="row vert-align" style="margin-top:20px;">
      <div class="col-xs-3 center-vert">
        <p class="feature-label first-label">Depreciation</p>
      </div>

      <div class="col-xs-2">
        <input [ngModel]="expectedDepreciation | number: '1.4-4'" (ngModelChange)="updateAmount($event)" [ngClass]="{'input-btn-click': customInputBtn.expectedDepreciation}"
          (click)="inputBtnclicked('pricingDate')" type="type" name="expectedDepreciation" class="input-btn-generic" />
      </div>

      <div class="col-xs-4 col-xs-offset-2">
        <button ng-disabled="!Form.$valid" (click)="computePremium()" class="z-depth-1 ongera-button v-center" color="primary" mat-button>
          HIT HERE AT THE END TO COMPUTE YOUR PREMIUMS...
        </button>
      </div>

    </div>

  </form>
</div>