
 .main-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.currencies{
    display: flex;
    flex-direction: row;
}
#row-title-spacing{
    margin-top: 100px;
}
.row-title{
    background-color: #222B3A;
    color: white;
    border: 1.5px solid #F5B78D;
    border-radius: 8px;
    padding: 8px;
    font-size: 0.875em;
    width: 30%;
    text-align: center;
    outline: 0;
    height: 50px;
    font-size: 11px;
    padding-top: 14px;
    font-weight: lighter;
}

.currency-name{
    
    background-color: #222B3A;
    color: #EC7A40;
    border: 1.5px;
    border-radius: 5px; 
    font-size: 1em;
    font-style: italic;
    width: 30%;
    font-weight: bolder;
    text-align: center;
    padding:8px;
    outline: 0;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1.5px solid #0a66ad;
    
}

  .currency-picker-button{
    border-radius: 40px;
    height: 62px;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 60px;
    background-color: #222B3A;
    border: 1.5px solid #222B3A;
    color: #EC7A40;
    outline: 0;
    float: left;
    border: 1.5px solid #0a66ad;
    
  }

  .currency-directive{
      width: 66.666666666%;
      padding-left: 0px;
      flex-direction: column;
      flex-flow: flex-direction;
      
      
  }

  .currency-btn{
    width: 33.33333%;
    
  }

  .main-form-row{
    display: flex;
    flex-direction: row; 
  }

  
  #column-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto
  
}
.void-column{
width: 100%;
}
#label-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto
}
#column-2{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#column-3{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.feature-label{
    background-color: #FBE5D6;
    color: #4C5B6C;
    float: right;
    border: 1.5px solid #F5B78D;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    width: 135px;
    height: 30px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    outline: 0;
}
.expected-eprecition-label{
    margin-top: 30px;
    height: 50px;
    
}