<section id="intro-section" id="index-banner" class="home-intro-section" data-backstretch
         data-backstretch-images="../../assets/images" data-backstretch-duration="5000" data-backstretch-fade="1">
    <div class="bg-opacity-layer"></div>
    <div id="header"  data-slider-banner>
      <div  class="container text-center">
        <h1>Ongera</h1>
        <p class="mt30">
          Tackling your African currencies struggle - Growing GDP and empowering business
        </p>

        <div class="row text-center">
          <div class="col-md-7 hidden-xs hidden-sm not-visible " data-when-visible="animateElementIn"  >
            <img class="img img-responsive" src="../../../assets/images/home.png" alt="Home-Mobile">
          </div>

          <div class="col-md-5 demo-btn">
            <div class="btn-wrap">
              <button mat-raised-button mat-lg-button id="frontend-btn" (click)="loadDemo()">
                <mat-icon>get_app</mat-icon>
                Request Demo
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
