.mat-card {
    padding: 10px;
    background-color: #212f3f;
    border-radius: 12px;
  }

  .bg-text-view {
    background-color: #fae5d7; 
    padding: 4px;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    height: auto;
    border-radius: 4px;
    border: 1px solid #db692b;
    text-align: center;
  }

  .ongera-button {
    background-color: #fae5d7; 
    padding: 4px;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    height: auto;
    border-radius: 4px;
    text-align: center;
  }

  .mat-card-title {
      text-align: center;
      font-size: 14px;
      color: white;
  } 
  .z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }

  .input-btn-generic{
    border-radius: 40px;
    height: 60px;
    align-content: center;
    width:  60px;
    background-color: #FBE5D6;;
    border: 1.5px solid #F5B78D;
    margin-left: 30%;
    color: #4C5B6C;
    outline: 0;
    padding: 3px;
    font-style: italic;
    margin-top: 7px;
    margin-left: auto;
}
.center-vert {
    margin-top: 5%;
    /* display: flex;
    align-items: center; */
}

.vert-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-btn-generic:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    
}


