<div>
    <mat-card class="header">
        <button (click)="openSideNav()" id="toggle"_ngcontent-c14="" class="mat-button" mat-button="">
            <span class="mat-button-wrapper">
                <mat-icon _ngcontent-c14="" class="mat-icon material-icons" role="img" aria-hidden="false">menu</mat-icon>
            </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
        GET INTO THE OPERATIONS
    </mat-card>

    <div class="col-lg-8 col-md-12 col-sm-12">
        <app-premium-form></app-premium-form>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <app-premium-results></app-premium-results>
    </div>

    <div  class="footer col-sm-12">
       <p style="margin-top: 40px;">Powered by Ongera Inc. ©2015-2017.</p>
    </div>
</div>