.bg-primary {
    margin: 8px;
    background-color: #212f3f; 
    padding: 8px;
    font-size: 13px;
    height: 25px;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-weight:bold;
  }

  .row {
      padding: 0px;
      
  }
  