<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container text-center mb50">
    <h2>Screenshots Is <span class="bolder">Here</span></h2>
  </div>
  <!--Screenshot Phone Background-->
  <div class="container">
    <div class="owl-main-section">
      <div class="ss-phone hidden-xs hidden-sm">
        <img src="assets/images/iphone.png" alt="iphone schreenshot background">
      </div>
    </div>
    <!-- Screenshots -->
    <div data-wrap-owlcarousel class="owl-carousel main-item-list"
         data-options="{loop:true,autoplay: true,items:5,margin:1,dots: false,responsiveClass:true,responsive:{
            0:{
                items:2,
                nav:false,
                dots: false
            },
            400:{
                items:2,
                nav:false
            },
            700:{
                items:4,
                nav:false
            },
            1000:{
                items:5,
                nav:false,
                dots:false,
                loop:true
            },
            1400:{
                items:5,
                margin:1,
                nav:false,
                dots:false,
                loop:true
            }
        }}">
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-1.jpg" alt="appestia screenshot1"></div>
      </div>
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-2.jpg" alt="appestia screenshot1"></div>
      </div>
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-3.jpg" alt="appestia screenshot1"></div>
      </div>
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-4.jpg" alt="appestia screenshot1"></div>
      </div>
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-5.jpg" alt="appestia screenshot1"></div>
      </div>
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-6.jpg" alt="appestia screenshot1"></div>
      </div>
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-7.jpg" alt="appestia screenshot1"></div>
      </div>
      <div class="item">
        <div class="thumb"> <img class="" src="assets/images/screenshot/sc-8.jpg" alt="appestia screenshot1"></div>
      </div>
    </div>

  </div>
</section>
