.action-images-style {
    height: 70%;
    width: 70%;
    border-radius: 6px;
    border: 2px solid  #DB6728;
    margin-top: 5px;
} 

.side-action{
    border: 2px solid  #DB6728;  
}


@media (min-width: 1200px) { 
    .side-action{ 
        min-height: 100%;  
    }
    .share-menu  {
        padding: 4px;
    }
}

