<div class="col-lg-2  col-md-12 col-xs-12 side-action">
  <div class="col-lg-12 col-xs-2  col-sm-2 col-md-2">
    <img src="../../assets/learn-more.png" class="img-responsive center-block  action-images-large action-images-style " alt="Responsive image">
  </div>

  <div class="col-lg-12 col-xs-2 col-sm-2 col-md-2">
    <img src="../../assets/upload-data.png" class="img-responsive center-block action-images-large  action-images-style " alt="Responsive image">
  </div>

  <div class="col-lg-12 col-xs-2 col-sm-2 col-md-2">
    <img src="../../assets/practice.png" class="img-responsive center-block  action-images-large action-images-style " alt="Responsive image">
  </div>

  <div class="col-lg-12 col-xs-2 col-sm-2 col-md-2">
    <img src="../../assets/practice.png" class="img-responsive center-block   action-images-large action-images-style " alt="Responsive image">
  </div>

  <div class="col-lg-12  col-xs-2 col-sm-2 col-md-2">
    <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
        <img src="../../assets/chat.png" class=" center-block action-images-style-small" alt="Responsive image">
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12">
        <img src="../../assets/email.png" class="center-block  action-images-style-small" alt="Responsive image">
    </div>
  </div>
</div>
