
  <div class="col-xs-2 side-action">
    <app-action
      *ngFor="let action of verticalActions"
      [actionType]= "action"
      [ngClass]= "{marked: action === selectedAction}"
      (click)="onImageClick(action)">
    </app-action>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <app-action class="horizontal"
      *ngFor="let action of horizontalActions"
      [actionType]= "action"
      [ngClass]= "{marked: action === selectedAction}"
      (click)="onImageClick(action)">
    </app-action>
    </div>
  </div>