
  <div class="col-xs-2 side-action">

    <div class="col-xs-12">
      <img src="../../assets/learn-more.png" class="z-depth img-responsive center-block  action-images-large action-images-style " alt="Responsive image">
    </div>

    <div class="col-xs-12">
      <img src="../../assets/upload-data.png" class="z-depth img-responsive center-block action-images-large  action-images-style " alt="Responsive image">
    </div>

    <div class="col-xs-12">
      <img src="../../assets/practice.png" class="z-depth img-responsive center-block  action-images-large action-images-style " alt="Responsive image">
    </div>

    <div class="col-xs-12">
      <img src="../../assets/practice.png" class="z-depth img-responsive center-block   action-images-large action-images-style " alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <div class="col-xs-6 ">
        <img src="../../assets/chat.png" class=" center-block action-images-style-small" alt="Responsive image">
      </div>
      <div class="col-xs-6">
        <img src="../../assets/email.png" class="center-block  action-images-style-small" alt="Responsive image">
      </div>
    </div>
  </div>