.summary {
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


.text-danger {
    color: #db692b;
}

p {
    text-align: center;
}

.card_image {
    border-radius: 6px;
    margin: 4px;
}

.last-login {
    margin-top: 20px;
}

.circle_button {
    margin: 2px;
    width: 50px;
    height: 50px
}


