<section id="video-section" class="video-jarallax text-center" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="row">
      <h2 class="mb40">See now <span class="bolder"> how it works</span>. Easy... </h2>
      <p class="mb40 col-md-10 col-md-offset-1">We've cleaned up our app in order for it to be the easiest to use because we know that the more you enjoy it,
        the more it will help you enhance your business while helping your clients</p>
      <div class="col-sm-12 video-img-block mb20">
          <img class="img img-responsive" style="width: 50%" src="../../../assets/images/home.png" alt="Home-Mobile">
        <div class="video-play-icon">
          <a class="video" title="Video Presentation"
             href="https://www.dropbox.com/s/26z5481cbve8lux/Ongera_Tuto_Video_1.mp4?dl=0">
            <i class="fas fa-play"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
