<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <p class="text-danger" name="date">Tuesday, March 02, 2007</p>
        <p  name="time">@02:00 PM</p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs">
      <img src="../assets/logoongera.png" class="img-responsive center-block" alt="Responsive image">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
      <!-- <app-premium-operations></app-premium-operations> -->
    </div>
  </div>
</div>
