 .premium {
    border-top:1px solid #db692b;
    /* position: absolute; */
    /* display: table-row;
    position: relative;
    height: 100%;
    padding: 0px; */

    /* height: 100%; */
    position: absolute;
    top: 20%;
    bottom: 0;
 

    /* background-color: #000000;  */
}