<section id="about-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">

  <div class="container text-center">
    <h2 class="mb40">Your solution for more <span class="bolder">performance  </span>of the African economy</h2>
    <div class="row">
      <p class="col-md-10 col-md-offset-1 col-xs-12 primary title-para">
        An AI and financial algorithms powered Web App to help you manage your short, mean and
        long terms multi-currency-backed financial operations, one country after another!
      </p>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 text-center">
        <div class="icon-block mb50 ">
          <img class="img  img-icons" src="../../../assets/images/ai_powered.png" alt="Home-Mobile">
          <h3>Artificial intelligence</h3>
          <p>
            A winning human - computer combination for better performances in your African and international currencies
            exchanges operations
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div class="icon-block mb50 mb_margin30">
          <img class="img  img-icons" src="../../../assets/images/financial_Alg_powered.png" alt="Financial">
          <h3>Financial algorithms</h3>
          <p>
            A result of 3 years of in-house algorithms developed from proven and best algorithmic models of the industry
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div class="icon-block mb_margin30 ">
          <img class="img  img-icons" src="../../../assets/images/totally_customizable.png" alt="Home-Mobile">
          <h3>Totally customizable</h3>
          <p>
            As awesome as your own apps, with your logo, colors and most importantly adapted to your strategies
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 text-center">
        <div class="icon-block mb_margin30">
          <img class="img  img-icons" src="../../../assets/images/modular.png" alt="Home-Mobile">
          <h3>Modular</h3>
          <p>
            Use only those modules that are aligned with your business and just pay for what you use
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">

        <div class="icon-block mb_margin30">

          <img class="img  img-icons" src="../../../assets/images/systemic.png" alt="Home-Mobile">
          <h3>Systemic</h3>
          <p>
            We cover everything related to your operations, so that you focus on your core business. Did you say data?
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div class="icon-block mob-icon-block">
          <img class="img  img-icons" src="../../../assets/images/secured.png" alt="Home-Mobile">
          <h3>Secured</h3>
          <p>
            For such strategic and critical operations, what would come be our focus if not performance, and then
            security?
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
</section>
